# CREDENCIALS POSTGRESQL (BDD)
POSTGRES_USER=votre_utilisateur
POSTGRES_PASSWORD=votre_mot_de_passe
POSTGRES_DB=fruits_legumes_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# CREDENCIALS API
API_NASS=votre_cle_nass
API_EIA=votre_cle_eia

# ENVIRONNEMENT
APP_ENV=staging
APP_PORT=8000
STREAMLIT_PORT=8501

# SECURITE API
API_KEY=votre_cle_api_a_generer

# MLFLOW
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_PORT=5000